:root {
  --clr-primary-900: #01193f;
  --clr-primary-600: #022660;
  --clr-primary-400: #0073e0;
  --clr-neutral-100: #fff;
  --clr-accent-300: #64ffda;

  --ff-primary: 'Gothic A1', 'Arial', sans-serif;
  --ff-accent: 'Roboto', sans-serif;
}

/* --------------------------------------- */
/* -------------GLOBAL-STYLES------------- */
/* --------------------------------------- */

* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2,
h3,
h4,
h5,
p {
  margin-bottom: 1em;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-900);
}

section {
  padding: 75px 0;
  margin-bottom: 1em;
}

/* -------------HEADINGS------------- */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  line-height: 1;
}
h1 {
  margin-top: 0;
  color: var(--clr-neutral-100);
  font-size: 150%;
}
h2 {
  font-size: 175%;
  word-spacing: 2px;
  color: var(--clr-primary-400);
}

h3 {
  font-size: 120%;
  text-align: center;
  color: var(--clr-primary-400);
}
h3:after {
  display: block;
  height: 2px;
  background-color: #0073e0;
  content: ' ';
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
}
h4 {
  font-size: 110%;
  margin-bottom: 2em;
  font-weight: 600;
}

/* -------------MISC------------- */

a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

img {
  max-width: 100%;
}
ion-icon {
  font-size: 500%;
}

/* --------------------------------------- */
/* ------------RE-USABLE-STYLES----------- */
/* --------------------------------------- */

.split {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.text-center {
  text-align: center;
}
.container {
  width: min(90%, 1128px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.moreinfo-images {
  width: 500px;
  height: 300px;
}

.dark-blue-text {
  color: var(--clr-primary-600);
}
.reduce-height {
  height: 50%;
}

/* --------------------------------------- */
/* ----------------HERO------------------ */
/* -------------------------------------- */

#hero {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      to(rgba(0, 0, 0, 0.3))
    ),
    url(/img/background1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/img/background1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  color: var(--clr-neutral-100);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav a {
  padding: 10px;
  color: var(--clr-neutral-100);
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-button:link,
.hero-button:visited {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  background-color: var(--clr-primary-400);
  border: 1px solid var(--clr-primary-400);
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.hero-button:hover,
.hero-button:active {
  opacity: 0.8;
  background-color: var(--clr-primary-400);
  border: 1px solid var(--clr-primary-400);
}

.link-dropdown {
  display: none;
}

/* -------------------------------------- */
/* --------------MORE-INFO--------------- */
/* -------------------------------------- */

.moreinfo-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    'aboutus-1'
    'vision-2'
    'mission-3'
    'approach-4';
  justify-items: center;
  font-weight: 900;
  font-size: 150%;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.aboutus-1 {
  grid-area: aboutus-1;
}
.vision-2 {
  grid-area: vision-2;
}
.mission-3 {
  grid-area: mission-3;
}
.approach-4 {
  grid-area: approach-4;
}

.nested-1 {
  grid-area: 1 / 1;
  justify-self: center;
  align-self: center;
}
.nested-2 {
  grid-area: 2 / 1;
  justify-self: center;
  align-self: center;
}
.nested-3 {
  grid-area: 3 / 1;
  justify-self: center;
  align-self: center;
}
.nested-4 {
  grid-area: 4 / 1;
  justify-self: center;
  align-self: center;
}

/* -------------------------------------- */
/* --------------FEATURES---------------- */
/* -------------------------------------- */

.features-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  line-height: 1.4;
}
.features-icons-container p {
  font-size: 80%;
}
.features-icons-container ion-icon,
.features-icons-container p,
.features-icons-container h3 {
  width: 100%;
}

/* ------------------------------------- */
/* --------------FOOTER----------------- */
/* ------------------------------------- */

footer {
  background-color: var(--clr-primary-600);
  margin: 0em;
  color: var(--clr-neutral-100);
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-copyright {
  font-size: 60%;
  color: rgb(97, 97, 97);
  padding-bottom: 2em;
}
.footer-createdby {
  font-size: 70%;
  color: var(--clr-neutral-100);
}

/* -------------------------------------- */
/* ----------------PAGES----------------- */
/* -------------------------------------- */

.about-header {
  background-color: var(--clr-primary-900);
}

/* -------------------------------------- */
/* ------------MEDIA-QUERIES------------- */
/* -------------------------------------- */

@media (min-width: 50em) {
  /* --------------RE-USEABLE------------- */
  .split {
    flex-direction: row;
  }

  /* ----------------HERO--------------- */

  .hero-text {
    margin-top: 8em;
  }
  h1 {
    font-size: 350%;
    margin-bottom: 0.2em;
  }
  .hero-text p {
    font-size: 125%;
    font-weight: 300;
  }

  .link-dropdown {
    display: inline-block;
  }

  .link-dropdown-content {
    display: none;
    position: absolute;
    background-color: #002d58;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .link-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .link-dropdown-content a:hover,
  .link-dropdown-content a:active {
    border-bottom: 2px solid #002d58;
    color: #fff;
  }

  .link-dropdown:hover .link-dropdown-content {
    display: block;
  }

  /* --------------MORE-INFO------------- */

  .moreinfo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px 0px;
    grid-template-areas: 'aboutus-1 vision-2 mission-3 approach-4';
    /* grid-auto-rows: auto; */
  }
  .nested-1 {
    grid-area: 1 / 1;
  }
  .nested-2 {
    grid-area: 1 / 2;
  }
  .nested-3 {
    grid-area: 1 / 3;
  }
  .nested-4 {
    grid-area: 1 / 4;
  }

  /* --------------FEATURES------------- */
  .features-icons-container {
    flex-direction: row;
    grid-column-gap: 10px;
  }
  .features-icons-container div {
    width: 23.8%;
  }

  /* --------------PAGES------------- */

  #section1 {
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #section2 {
    padding: 0em;
    padding-top: 1em;
    margin-bottom: 8em;
  }
  nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 4em;
  }

  .pages-p {
    font-size: 90%;
  }
  ul {
    font-size: 90%;
  }

  .pages-images {
    max-width: 40%;
    align-self: center;
  }
  .content-1::after {
    display: block;
    height: 2px;
    background-color: #a7a7a757;
    content: '';
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
  }
  .content-1 .split {
    flex-direction: row-reverse;
  }

  /* --------------TEAM------------- */

  .team-images {
    width: 300px;
    height: 425px;
    max-width: 100%;
    align-self: center;
  }
  /* .team-john-rm-image {
    align-self: flex-start;
  } */

  /* --------------VISION------------- */
  .vision-image {
    align-self: flex-start;
    float: right;
    width: 40%;
    /* align-content: space-between; */
    /* height: 25%; */
  }
  .vision-image2 {
    float: left;
    width: 40%;
    padding-right: 10px;
  }

  /* --------------FOOTER----------------- */
  .footer-createdby:link,
  .footer-createdby:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
  }
  .footer-createdby:hover,
  .footer-createdby:active {
    color: var(--clr-accent-300);
  }
}

@media (min-width: 50em) and (max-width: 68.75em) {
  .pages-p {
    font-size: 75%;
  }
  ul {
    font-size: 75%;
  }
}
